form {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: auto;
    margin-top: .5em;
    width: 65%;
    padding: 1em;
    padding-top: 3em;
    padding-bottom: 3em;
    grid-area: main;
    display: block;
    box-shadow: 0 0 1px rgb(0 0 0 / 30%), 0 3px 7px rgb(0 0 0 / 30%), inset 0 1px rgb(255 255 255), inset 0 -3px 2px rgb(0 0 0 / 25%);
    border-radius: 5px;
    background: linear-gradient(#eeefef, #ffffffe0 10%);
    max-width: 100%;
    text-align: center;
}
input {
    margin:.5em;
    padding:.25em
}
span{
    display: block;
    font-style: italic;
    font-size: .8em;
    font-weight: lighter;
}
form button {
    font-family: 'Open Sans', sans-serif;
    padding: .5em;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
    margin-bottom: 3em;
}

body{
    font-family: 'Slabo 27px', serif;
}
#register p{
    display: inline;
    grid-area: main;
    text-align: center;
    margin-top: 1em;
    font-size: 1.3em;
    font-weight: bold;
}
#register{
    grid-area: main;
    margin-top: 15%;
}
#signin {
    font-family: 'Open Sans', sans-serif;
    grid-area: main;
    margin: auto;
    margin-bottom: 1.5em;
}

#signin button{
    padding: 5px;
    margin-left: 12px;
}
#signin a {
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-decoration: underline;
    padding: 0;
    background-color: rgb(255 255 255 / 0%);
    display: inline;
    border: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    
}
#signin a:hover {
    font-weight: bold;
    
}
#geotag {
    width: 3em;
    display: inline;
    position: relative;
    top: .5em;
    animation-name: bounce-4;
    animation-timing-function: ease;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
}
#top1{
    text-align: center;
}
@keyframes bounce-4 {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.99) translateY(0); }
    30%  { transform: scale(1,1) translateY(-10px); }
    50%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}