body{
    font-family: 'Slabo 27px', serif;
    background-image: none;
    background-color: rgb(196, 196, 196);
}
#map {
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

    height: 100%;
    border: 1px solid black;

}
#map-container{
    grid-area: main;
    margin-top: 1em;
    margin-right: 1em;
    text-align: center;
    height: 80%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
.container {
    grid-template-columns: 50% 50%;
}
.slideshow-container{
    grid-area: aside1;
    margin-top: 1em;
    text-align: center;
}
#popup{
    display: block;
    background-color: rgba(255, 255, 255, 0.705);
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: +1;
}
#popUpContent{
    font-size: 1.2em;
    padding: 1em;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 20%;
    
}
#popUpContent li{
    text-align: left;
    list-style: circle;
    margin: 1em;
}
.img-container{
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    text-align: center;
    height: 81%;

}
.img-container img{
    height: 100%;
    max-width: 100%;
    border: 1px solid black;
}