/*html{
    background-image: url("images/corkAerial.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;

    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}*/

li,p{
    margin: 5px;
    border: 2px solid black;
    padding:10px;
    width: 30%;
    background-color: white;
}
span{
    margin: 5px;
    padding:5px;
}
/* to be shown when now users in database */
p{
    color: red;
    text-align: center;
    position: relative;
}
/*postion swtiches */
#redirect_home{
    position: absolute;
    top:1%;
    left: 1%;
}
#database_swtiches{
    position: absolute;
    top:1%;
    left:85%;
}
/*top three user css*/
ul,ol{
   list-style-type: none; 
}
ul li{
    margin: auto;
    width: 200px;
    height: 200px;
    text-align: center;
}
#first{
    grid-area: aside1;
    background-color: red;
}
#second{
    position: main;
    grid-area: main;
}
#third{
    grid-area: aside2;
}
/*
.container{
    grid-template-columns: auto;
}*/

/* centre the ol in the page */
#leaderboard1{
    display: grid;
    width: 80%;
    grid-area: footer;
    margin: auto;
    align-items: center;
    justify-items: center;
}
.container{
    grid-template-columns: 30% 40% 30%;
}
