html,body{
    max-width: 100%;
    overflow-x: hidden;
}
body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("/static/images/pages/corkAerial.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
li,p{
    margin: 5px;
    border: 2px solid black;
    padding:10px;
    width: 30vw;
    background-color: white;
}
span{
    margin: 5px;
    padding:5px;
}
#king{
    font-size: 30px;
}
/* to be shown when now users in database */
p{
    color: red;
    text-align: center;
    position: relative;
}
li{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
}
ul,ol{
   list-style-type: none; 
}
/*top three user css*/
ul li{
    margin: auto;
    width: 200px;
    height: 200px;
    text-align: center;
}
ul{
    position: relative;
    top: 10%;
}
#first{
    background-color: red;
}
#second{
    position: relative;
    top: 15%;
    left: 50%;
}
#third{
    position: relative;
    top: 20%;
    left: -50%;
}
/* rest of users */
ol li #username{
    font-size: 20px;
}
ol li #hardscore{
    color:red;
}
#rank{
    display: inline;
}
/* centre the ol in the page */
#leaderboard1{
    display: grid;
    width: 80vw;
    grid-area: footer;
    margin: auto;
    align-items: center;
    justify-items: center;
}
.container{
    grid-template-columns: 30% 40% 30%;
}
/*#easyLeaderboard, #HardLeaderboard, #RetroLeaderboard{
    display: none;
}*/
#leaderboard1,#easyLeaderboard, #HardLeaderboard, #RetroLeaderboard{
    position: relative;
    top:20%;
    left: 0;
}
/*#database_swtiches{
    position: absolute;
    top:1%;
    left: 70%;
}*/
.btn{
    border:none;
    outline:none;
    padding:10px 16px;
    color:lightgray;
    cursor:pointer;
    font-size:15px;
}
.active, .btn:hover{
    color: black;
    font-size: 18px;
    border-bottom: 5px solid blue;
}
#score{
    color: red;
    float: right;
    font-size: 20px;
}
#username{
    float: left;
}
.name{
    float: left;
}
.score{
    float: right;
}
.name,.score{
    position: relative;
    top: 30%;
    font-size: 23px;
}

@media screen and (max-width:900px) {
    ul li{
        width: 70%;
        height: auto;
    }
    #second, #third{
        position: relative;
        top: 35%;
    }
    #leaderboard1{
        top:5%;
    }
}

@media screen and (max-width:400px){
    li{
        width: 85%;
    }
    #leaderboard1{
        top:15%;
    }
    #second, #third{
        top:100%;
    }
    #first{
        width: 300px;
        position: absolute;
        left: 10%;
        top: 5%;
    }
    #second{
        width: 300px;
        left: 35%;
        top: 120%;
        background-color: red;
    }
    #third{
        width: 300px;
        position: absolute;
        left: 10%;
        top: 200%;
        background-color: red;
    }
    #king{
        font-size: 20px;
        border-bottom: 2px solid black;
    }
}