@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container {  
    width: 100vw;
    display: grid;  
    height: 10vh;
    grid-template-columns: 20% 60% 20%; 
    grid-template-rows: auto;  
    grid-template-areas: 
    "header header header"
    "aside1 main aside2"
    "aside3 main1 aside4"
    "footer footer footer";
}
#logo {
    height: 2em;
    max-width: 100%;
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-image: url("/static/images/pages/corkAerial.jpg");
    max-width: 100%;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}
#top {
    padding-bottom:0px;
    width: 100vw;
    font-family: 'Slabo 27px', serif;
    font-weight: 400;
    grid-area: header;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 5px solid red ;
}
#top button{
    width: max-content;
    padding: 1em;
    grid-area: aside1;
    margin-left: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
#top h1{
    grid-area: main;
    top: 2px;
}
#login {
    font-weight: bold;
    margin-top: 5em;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    grid-area: main;
    width: 20em;
    justify-content: center;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    margin: 0;
    list-style: none;
    text-align: center;
}
a {
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-decoration: none;
    padding: .5em;
    background-color: rgba(255, 255, 255, 0.664);
    display: block;
    border: 1px solid black;
    margin-top: .25em;
    margin-left: 6em;
    margin-right: 6em;
    max-width: 100%;
}
a:hover {
    color: white;
    background-color: black;
}
#redirect_home{
    font-size: 2em;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px;
    position: absolute;
    top: 40px;
    left: 100px;
}
