@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@500&display=swap');
* {
    margin: 0;
    font-family: 'Expletus Sans', cursive;
}
.container{
    width: 100%;
}

#finishGame{
    position: relative;
    top: -80px;
    right: -1300px;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("/static/images/pages/corkAerial.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    grid-area: main;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/*-----------------------------Landing Page------------------------------------*/

#container {
    background-color: white;
    height: 600px;
    width: 400px;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    text-align: center;
}

#user-info {
    background-color: lightblue;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
}

#cork-flag {
    max-height: 100%;
    max-width: 100%;
    margin-top: 20px;
}

#main-menu h1 {
    margin-top: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "easy-mode hard-mode retro-mode"
      "leaderboard leaderboard leaderboard";
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    grid-auto-flow: column;
    max-height: 80px;
}

#easy-mode {
    grid-area: easy-mode;
    margin: 2px;
    padding: 5px;
    background-color: white;
}

#hard-mode {
    grid-area: hard-mode;
    margin: 2px;
    padding: 5px;
    background-color: white;
}

#retro-mode {
    grid-area: retro-mode;
    margin: 2px;
    padding: 5px;
    background-color: white;
}


#leaderboard {
    grid-area: leaderboard;
    margin: 2px;
    padding: 5px;
    background-color: white;
    
}

#mode-text {
    padding: 30px;
}

/*-----------------------------Landing Page------------------------------------*/

/*-----------------------------Question Page------------------------------------*/

#score {
    display: flex;
    justify-content: space-around;
}

#question-container {
    margin-top: 60px;
}

#question-image {
    border: 2px solid black;
    max-width: 100%;
    max-height: 250px;
    border-radius: 5px;
}

#question {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#question-timer {
    text-align: center;
    background-color: lightblue;
    border: 2px solid black;
    padding: 5px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: 2px solid black;
    padding: 5px;
    color: black;
    outline: none;
    font-size: 1.1em;
    font-weight: bold;
}

.btn:hover {
    background: lightblue;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

.btn.correct {
    background-color: green;
}

.btn.wrong {
    background-color: red;
}

#next-btn {
    background-color: white;
    position: fixed;
    margin: 10px;
    right: 610px;
}

.fa-crown::before {
    -webkit-text-stroke: 1px #000;
    -webkit-text-fill-color: yellow;
}

#redirect_home {
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px;
}

/*-----------------------------Question Page------------------------------------*/

.hide {
    display: none;
}

#scoreform{
    left: -620px;
    top: 300px;
    font-size: 2em;
    display: none;
    border: solid;
    background-color: rgba(255, 255, 255, 0.753);
    position: absolute;
    padding: 2em;
    z-index: +10;
    text-align: center;
    box-shadow: 0px 1px 20px 1px;

}
#scoreform input{
    padding: .5em;
    display: block;
    text-align: center;
    margin: auto;
    font-size: 1em;
    width: 4em;
    border: .5px solid black;
}
#endGame {
    padding: 10px;
    border: solid black 1.5px;
    position: absolute;
    font-size: 1em;
    font-family: 'Slabo 27px', serif;
    box-shadow: 2px 2px 5px;

}
#endGame:hover{
    border: solid white 1.5px;
    color: white;
    background-color: black;
    box-shadow: black 2px 2px 5px;
}
#submit{
    padding: 1em;
    margin: 1em;
}