@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
  
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("/static/images/corkAerial.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 2em;
    font-family: 'Londrina Solid', cursive;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Londrina Solid', cursive;
}
ul {
    text-align: center;
    width: 15%;
}
ul li{
    list-style: none;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    padding: 10px;
    font-family: 'Londrina Solid', cursive;
    background-color: rgba(255, 255, 255, 0.3);
}

body.correct {
    background-color: green;
}
  
body.wrong {
    background-color: red;
}
  
#container {
    width: 500px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px 2px;
}

#question {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 0;
    margin: 1px;
    height: 50px;
}
#question-image {
    border: 2px solid black;
    max-width: 100%;
    border-radius: 5px;
}
  
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}
  
.btn {
    border: 2px solid black;
    padding: 15px 10px;
    color: black;
    outline: none;
    font-size: 1.1em;
    font-weight: bold;
}

.btn:hover{
    border: 2px dotted black;
}

.btn.correct{
    background-color: green;
}

.btn.wrong{
    background-color: red;
}




#myImg {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    margin-top: 20px;
    border: 5px solid black;
}

.controls{
    display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1.2fr;
  gap: 0px 0px;

}

.solo-btn{
    grid-area: 1 / 1 / 2 / 2; 
    margin: 2px;
}
.versus-btn{
    grid-area: 1 / 2 / 2 / 3;
    margin: 2px;
}
.leaderboard-btn{
    grid-area: 2 / 1 / 3 / 3;
    margin: 2px;
}

.hide{
    display: none;
}