<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'leaderboard/leaderboard.css' %}">
        <!-- Google fonts links -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1> Leaderboard</h1>
        {% if number_of_users > 0 %}
        <ul>
            {% for user in User_list %}
                <li>
                    <span id="userName">{{ user }}</span>
                    <span id="score">{{ high_score }}</span>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No users available.</p>
        {% endif %}
    </body>
</html>