h1{
    text-align: center;
    font-family: 'Sriracha', cursive;
    font-size: 300%;
}
ul{
    list-style-type: none;
    position: relative;
    left: 30%;
}
li{
    margin: 5px;
    border: 2px solid black;
    padding:10px;
    width: 30%;
}
span{
    margin: 5px;
    padding:5px;
}