{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    </head>
    <body>
        <div></div>
        <div>
            <h1>Aim of the game</h1>
            <p>Have you been stuck inside for almost a year now beacause of lockdown?
                Well your answer better be yes becasye we sure have!
                This game is designed to make you feel like you get can outside and virtually break the 5km restrictions!
                You are thrown into a random place in Cork and you must guess where that is.
                We have 3 gamemodes: Easy ( for kids ), Retro ( for the rents or if you're feeling a bit ambitious ) and finally Hard mode if you're a pro.
                The Easy and Retro mode are simple MCQ games, whereas the Hard mode provides you with a map where you must pinpoint where you are on it.
            </p>
        </div>

        <div></div>
        <div></div>

        <div>
            <h1>Scoring</h1>
            <p>Each gamemode consists of 5 rounds. 
                The maximum amount points you can obtain each round is 150.
            Therefore the mamimum amount of points you are able to achieve is 750!!</p>
        </div>

        <div></div>
        <div></div>

        <div>
            <h1>Meet the team</h1>
            <p>John Wales</p>
            <p>Mark Cullinane</p>
            <p>Jeff Attride</p>
            <p>Nathan Crowley</p>
        </div>
    </body>
</html>
{% endblock content %}
