<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}So you think you know Cork like?{% endblock %}</title>
    {% load static %}
    <link href="{% static 'main.css' %}" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div id="top">
            <header>
                <div class="container">
                    <h1 id="title"><img id="logo" src="/static/images/LostInCork.png" height="150px"></h1>
                </div>
            </header>
        </div>
        {% include './messages.html' %}
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>