<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}So you think you know Cork like?{% endblock %}</title>
    {% load static %}
    <link href="{% static 'main.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
  
</head>

<body>

    <div class="container">
        <div id="top">
            <header>
                <button id="redirect_home" onclick="document.location.href='/home'" class="hide"><i
                    class="fas fa-home"></i></button>
                <img id="logo" src="/static/images/LostInCork.png">
            </header>
        </div>
        {% include './messages.html' %}
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>
