<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Lost in Cork{% endblock %}</title>
    {% load static %}
    <link href="{% static 'main.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
</head>

<body>

    <div class="container">
        <div id="top">
            <header>
                <img id="logo" src="/static/images/LostInCork.png">
            </header>
        </div>
        {% include './messages.html' %}
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>
