{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<head>
    {% load static %}
    <link href="{% static 'mapMode/main.css' %}" rel="stylesheet">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    {% load static %}
    <script src="{% static 'mapMode/main.js' %}"></script>
    <script src="https://kit.fontawesome.com/d6a2ba58f6.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
{% load static %}
  <body>
    <aside id="scr">Score: 0</aside>
    <button id="endGame" onclick="gameOver()">End game</button> 
    <form method="POST" id="scoreform">
      {% csrf_token %}
      {{ form }}
      <button id="submit" type="submit">Submit Score</button>
    </form>
    
    <div id="popup">
      <div id="popUpContent">
        <h2>Instructions</h2>
        <ul>
          <li>Observe the image on the left and think of whereabouts in Cork it is</li>
          <li>Then click on the map where you think this image is</li>
          <li>Points are awarded for how close you are</li>
          <li>Bonus points if you get within 100 metres of the location</li>
        </ul>
        <button id="contin">Continue</button>
      </div>
    </div>
    <div id="confirm">
      <h3>Confirm your answer?</h3>
      <button id="Yes">Yes</button>
      <button id="No">No</button>
    </div>
    <div class="slideshow-container">
     
      <h1>Where is this?</h1>
    
      <div class="img-container">
  
        <img id = "place" src=""></img>
      </div>
      <div>
        <button id="redirect_home" onclick="document.location.href='/home'"><i class="fas fa-home"></i></button>
      </div>
    </div>
    <div id= "map-container">
      <div id="score">
      <h1>Map of Cork</h1>
      <aside id="scr">Score: 0</aside>
    </div>
    <div id="map"></div>
  </div>
  <div id="result">
    <h2 id="distancefrom"></h2>
    <button id="nextLoc" onclick="nextImage()">Next location</button>
  </div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0p03pOFRi5rqeGAGEKbK2oi_zJqIZxJ0&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  
{% endblock content %}
