{% extends 'base.html' %}
{% block content %}
<head>
    {% load static %}
    <link href="{% static 'landingPage/main.css' %}" rel="stylesheet">
    {% load static %}
</head>
<div class="container">
    {% load static %}
    
    <div id="register">
        <div id="top1">
            <p>Register now and start exploring!</p>
            <img id="geotag" src="{% static 'images/geotag.png' %}" id="geotag">
        </div>

        <script>
        var object = document.getElementById('geotag');
        object.onclick=function(){
        var x = Math.floor(Math.random()*300);
        object.style.top = x + 'px';
        };
        </script>
    
    <form method="POST" id="regform">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Sign Up</button>
    </form>
    </div>
    <div id="signin">
        <p>Already have an account , <a href="/signin">Log in now</a></li></p>
        <p>Want to learn more about the game and us?<button id="aboutus" onclick="window.location.href='/about_us';">
            Click here
        </button></p>
        </div>
    <footer>
    
    </footer>
</div>

{% endblock content %}
