{% extends 'base.html' %}
{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet"  href="{% static 'leaderboard.css' %}">
    {% load static %}
    <script src="{% static 'leaderboard.js' %}"></script>
    <!-- Google fonts links -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap" rel="stylesheet">
    <!-- End of Google fonts links -->
    <meta name="viewport" content="width=device-width, initial-scale=1,0">
    <script src="https://kit.fontawesome.com/d6a2ba58f6.js" crossorigin="anonymous"></script>
    <button id="redirect_home" onclick="document.location.href='/home'"><i class="fas fa-home"></i></button>
</head>
<body>
    <!--Body is split into two lists, ul and ol.
        The ul is used for the top three users of the leaderboard.
        The ol is used for the rest of the users in the database.
        These are seperate lists to make it easier in the css to differenciate the two.
        If no users are present in the database a small message is shown tho represent the empty database.
        The embedded Python code is contained within curly braces and percentage signs.
            I use this Python code to loop through the dictionaries passed by the Django view.
            - number_of_users = count functioned called on the Profile model.
            - 1rst = dictionary containing the name and score of the user in first place of the database.
            - 2nd/3rd = are the same as '1rst' but represents the second and third user.
            - rest_of_users = a dictionary containing users in the database from the 4th placed user to the end.-->
    <div class="container">
        {% if number_of_users > 0 %}
        <ul class="container" id="top_three">
            <li id="second">
                {% for name,score in 2nd %}
                    <div class="position">Second</div>
                    <span><div class="name">{{ name }}</div><div class="score">{{ score }}</div></span>
                {% endfor %}
            </li>
            <li id="first">
                {% for name,score in 1rst %}
                    <div id="king">Champion of Cork!</div>
                    <span><div class="name">{{ name }}</div><div class="score">{{ score }}</div></span>
                {% endfor %}
            </li>
            <li id="third">
                {% for name,score in 3rd%}
                    <div class="position">Third</div>
                    <span><div class="name">{{ name }}</div><div class="score">{{ score }}</div></span>
                {% endfor %}
            </li>
        </ul>
        <ol id="leaderboard1">
            {% for user,score in rest_of_users %}
                <li>
                    <span><span id="username">{{ user }}</span><span id="score">{{ score }}</span></span>
                </li>
            {% endfor %}
        </ol>
        {% else %}
            <p>No users available.</p>
        {% endif %}
    </div>
{% endblock content %}
</body>