<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet"  href="{% static 'leaderboard.css' %}">
        <!-- Google fonts links -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    </head>
    <body>
        <button id="redirect_home">return to home</button>
        <div id="database_swtiches">
            <button class="all_time">All time</button>
            <button class="weekly">Weekly</button>
        </div>
        <h1>
            Leaderboard <br>
            <div id="date">{{ today }}</div>
        </h1>
        {% if number_of_users > 0 %}
        <ul>
            {% for user in User_list %}
                <li>
                    <span>{{ user }} {{ high_score }}</span>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No users available.</p>
        {% endif %}
    </body>
</html>