{% extends 'base.html' %}
    {% block content %}
    <head>
        {% load static %}
        <link href="{% static 'login.css' %}" rel="stylesheet">
    </head>
    <div class ="container">
        <div></div>
        <div id="login">
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Log in</button>
            <button id="goback" onclick="window.location.href='/';">
                Go Back
            </button>
        </form>
        </div>
    </div>
    {% endblock content %}
